*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  background-color: #F4CB6B;
  cl
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
 
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 2% 0 5%;
}
.menu {
  margin: 0 20px;
}

.home-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
#left {
  flex: 5;
}
#right{
  height: 80vh;
 flex: 5;
  margin-left: 20px;
  background-color: #F2F2EF;
  border-radius: 50px;
}


