@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul{
  list-style: none;
}
body {
  background-color: #F4CB6B;
  font-family: "Poppins", sans-serif;
}
button {
  margin: 20px 0;
  padding:10px 20px;
  background: none;
  border-radius: 10px;
  border: 1px solid black;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 3% auto;
}

nav {
  display: flex;
  justify-content: first baseline;
  margin-bottom: 100px;
}
.logo{
  margin-right: 5px;
}
.menu {
  margin: 0 20px;
}

.home-container{
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
/* LEFT STYLES */
#left {
  flex: 5;
}
#left h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
#left p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.search-input {
  width: 80%;
  background-color: #dadada;
  border-radius: 12px;
  border: none;
  display: flex;
  place-items: center;
  padding-left: 15px;
  margin: 50px 0;
}
.search-input input{
  border: none;
}
input {
  border: 1px solid black;
  border-radius: 12px;
  background-color: inherit;
  width: 100%;
  height: 50px;
  padding-left: 5px;
  font-size: 20px;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: #171717;
}
.user-btn-cont {
  margin-top: 40px;
}
.user-btn{
  margin-right: 50px;
  padding: 30px;
  border-radius: 10px;
  color: #FFF;
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px 5px  rgba(0, 0, 0, 0.5);
}
.all-user {
  background-color: #BF9679;
}
.f-user{
  background-color: #F97661;
}
.m-user{
background-color: #8DCC50;
}

#right{
 
  flex: 5;
  margin-left: 20px;
  background-color: #F2F2EF;
  border-radius: 20px;
  padding: 5px 30px;

}

.usercard {
  background-color: #F2F2EF;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.usercard img {
 border: 5px solid #BF9679;;
  border-radius: 50%;
  margin: 5px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 30px 0;
}

.pagination-num {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.pagination-child,
.prev,
.next {
  opacity: 1;
  border: 1px solid #000;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.pagination-child:hover,
.prev:hover,
.next:hover {
  transform: scale(1.1);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-size: 2rem;
  font-weight: 700;
}
.notfound img{
  height: 200px;
}


textarea {
  width: 100%;
  margin: 20px 0;
  background: none;
}
.c-btn {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px){
  nav {

    justify-content: center;
    margin-bottom: 50px;
  }
  
  .home-container{
    width: 100%;
    display: block;
    text-align: center;
  }
  
  .search-input{
    display: none;
  }
  .user-btn{
    margin: 15px;
    padding: 20px;
  }
  #right{
    height: 120vh;
    margin-left: 0;
    padding: 15px;
    background: none;
  
  }
  .usercard {
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 10px;

  }
  .pagination {
    margin: 40px 0;
  }
  
  .pagination-child,
  .prev,
  .next {
    padding: 8px 12px;
  }

}


